<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1 th:text="#{form.label.update}">商品情報変更</h1>


<h3>
  id: <input th:field="*{product.id}" disabled>
</h3>
<p th:text="#{form.label.product-name}"></p>
<form th:action="@{'/product/update/'+ ${product.id}}" method="POST" th:object="${updateProduct}">
<!--  <form action="@{'/product/update/'+${product.id})}" method="POST" th:object="${updateProduct}">-->


<!--  <p><input type="text" th:field="*{productName}"><span class="error" th:each="error: ${#fields.errors('productName')}">[[ ${error} ]]</span></p>-->

  <p><input type="text" th:field="*{productName}"><span class="error" th:each="error: ${#fields.errors('productName')}">[[ ${error} ]]</span></p>

  <p th:text="#{form.label.product-price}"></p>
  <p><input type="text"  th:field="*{productPrice}"><span class="error" th:each="error: ${#fields.errors('productPrice')}">[[ ${error} ]]</span></p>

  <button type="submit" th:text="#{form.btn.update}"></button>



</form>
</body>
</html>