<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1 th:text="#{form.label}"></h1>

<form action ="/productAdd" method="POST" th:object="${addProduct}">
    <p th:text="#{form.label.product-name}"></p>
    <p><input type="text" th:field="*{productName}"><span class="error" th:each="error: ${#fields.errors('productName')}">[[ ${error} ]]</span></p>
    <p th:text="#{form.label.product-price}"></p>
  <p><input type="text" th:field="*{productPrice}"><span class="error" th:each="error: ${#fields.errors('productPrice')}">[[ ${error} ]]</span></p>

  <button type="submit" th:text="#{form.btn.add}"></button>



</form>
</body>
</html>